:root{
    --color-primary: #FF6464;
    --color-secondary: #00A8CC;
    --color-dark: #21243D;
    --color-light: #8695A4;
    --color-dark-blue: #142850;
    --color-bg: white;
}

body{
    padding:0;
    margin:0;
    height: 100vh;
    background: var(--color-bg);
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    font-style: normal;
    color:var(--color-dark);
}
.container, .container-details{
    padding: 0 10vmin;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(auto-fit,1fr);
    z-index: 1;
}
.container{
    justify-items: center;
    
}
.container-details{
    justify-items: start;
}
.button-menu,.button-resume, .social-media__link{
    cursor: pointer;
}

.button-resume{
    width: 200px;
    height: 47px;
    border: none;
    background: var(--color-primary);
    color:var(--color-bg);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;    
}
.paragraph{
    font-weight: 400;
    line-height: 23.5px;
    text-align: center;
}
.presentation{
    font-weight: 700;
    color: var(--color-dark);
    line-height: 40px;
    text-align: center;
    font-size: 2em;
}
.img-profile{
    max-width: 100%;
    border-radius: 50%;
}
.img-work{
    max-width: 100%;
    border-radius: 6px;
}
.featured-works{
    padding-top: 4rem;
}
.featured-works__item{
    padding-bottom:2rem;
}
.title-work{
    font-weight: 700;
    font-size: 1.5em;
    line-height: 30px;
    text-transform: capitalize;
    margin: 10px 0;
}
.year-publish{
    background: var(--color-dark-blue);
    color: var(--color-bg);
    border-radius: 1em;
    padding: 1px 10px;
    text-align: center;
    line-height: 60px;
    font-weight: 900;
}
.works-category{
    color:var(--color-light);
    line-height: 1.5em;
    margin: 0 1em;
}
.footer{
    margin-top: auto;
    padding-bottom: 3rem;
}
.social-media{
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    padding: 1rem;
    
}
.copyright{
    font-weight: 400;
    font-size: .9em;
    text-align: center;
    
}

.works__paragraph{
    text-align: left;
}
.year-publish__secondary{
    background: var(--color-primary);
}
.works-category__detail{
    font-weight: 400;
    color: var(--color-dark);
}
.container__item:nth-child(2){
    padding: 0 1rem;
}

.container-details__item:nth-child(6){
    justify-self: center;
}
.social-media__link{
    color: var(--color-dark);
}
.social-media__link:hover{
    color: var(--color-primary);
}

.navbar-light .navbar-nav .nav-link:hover{
    color:var(--color-primary)
}